/* Base */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

header {
  margin: 2rem 0 1rem;
}

input {
  width: 15rem;
  padding: 0.8em 1em;
  border: 1px solid #8c8f99;
  border-radius: 0.5em;
  color: #3e424b;
  letter-spacing: 0.05em;
}

input:focus {
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.img {
  flex: 1;
  margin: 1rem;
}

footer p {
  color: #d9dddc;
}

/* Lightbox */
.lb-data .lb-details {
  width: 100%;
  float: none;
  text-align: center;
}

.lb-data .lb-caption {
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 2rem;
}

.lb-data .lb-close {
  display: none;
}

/* Media queries */
@media (min-width: 576px) {
  .img {
    margin-top: 1.5rem;
  }

  /* Lightbox */
  .lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
  }

  .lb-data .lb-close {
    display: block;
  }
}

@media (min-width: 768px) {
  input {
    width: 30rem;
  }

  .lightboxOverlay {
    max-width: 100%;
  }
}
